* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

body {
    font-family: roboto;
}

.cabecera {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: small;
}

.cabecera a {
    text-decoration: none;
    color: #000000;
}

.imgHead {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 5px;
}

.imgGrid {
    width: 20px;
    height: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84vh;
    flex-grow: 1;
}

.itemContenido1 {
    justify-content: flex-end;
    color: #444546;
    width: 100%;
    padding: 0px 0px 26px 0px;
}

#logo {
    width: 272px;
    height: 92px;
}

.itemContenido2 {
    justify-content: center;
    color: #ffffff;
    width: 582px;
    height: 46px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.itemContenido21 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-right: 540px;
}

.itemContenido22 {
    width: 100%;
    padding: 0 390px 0 14px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.itemContenido23 {
    width: 100%;
    padding: 0px 360px 0 14px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.itemContenido22 img {
    width: 12px;
    height: 15px;
}

.itemContenido23 img {
    width: 15px;
    height: 15px;
}

.itemContenido3 {
    color: #444546;
    width: 35%;
    padding: 10px 0px 10px 0px;
}

input {
    display: inline-block;
    width: 156px;
    height: 36px;
    background-color: #F8F9FA;
    margin: 11px 4px;
    padding: 0 16px;
    border: 0;
}

.itemContenido4 {
    justify-content: center;
    color: #444546;
    flex-grow: 1;
}

.piePagina {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.piePagina1 {
    color: #444546;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 20px;
}

.piePagina2 {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-top: 1px solid #d2d5e9;
}

.piePagina21 {
    background-color: #F2F2F2;
    padding: 15px 0px 15px 20px;
}

.piePagina21 a {
    color: #444546;
    text-decoration: none;
    padding: 10px;
}

.piePagina22 {
    background-color: #F2F2F2;
    padding: 15px 0px 15px 20px;
}

.piePagina22 a {
    color: #444546;
    text-decoration: none;
    padding: 10px;
}